<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/toutiao/index")
    @Scripts.Render("~/bundles/jstoutiao")

</head>
<body>
       <!-- 页面主体 -->

    <div class="container">
        <!-- 导航条 -->

        <div id="J_Nav" class="app-nav" data-spm="1998565197">
            <div class="nav-container">
                <a class="nav-logo" href="/"></a>
                <div class="nav-items">
                    <a class="nav-item nav-active" href="/hg/index"> 最新头条 </a>
                    <a class="nav-item" href='/hg/index?columnId=25'> 穿衣搭配 </a>
                    <a class="nav-item" href='/hg/index?columnId=28'> 数码极客 </a>
                    <a class="nav-item" href='/hg/index?columnId=29'> 美容护肤 </a>
                    <a class="nav-item" href='/hg/index?columnId=24'> 家居生活 </a>
                    <a class="nav-item" href='/hg/index?columnId=26'> 辣妈俏娃 </a>
                    <a class="nav-item" href='/hg/index?columnId=27'> 我是吃货 </a>
                </div>
            </div>
        </div>
        <!-- 主要内容 -->
        <div class="main">
            @RenderBody()
        </div>

</div>

<div class="footer" data-spm="1997523009">

        <div class="footer-hd">

            <p>
                <a href='/hg/index?columnId=0' target='_blank'>头条</a>  <b>|</b>
                <a href='/hg/index?columnId=28' target='_blank'>数码控</a>  <b>|</b>
                <a href='/hg/index?columnId=25' target='_blank'>爱穿搭</a>  <b>|</b>
                <a href='/hg/index?columnId=29' target='_blank'>美容课</a>  <b>|</b>
                <a href='/hg/index?columnId=27' target='_blank'>大吃货</a>  <b>|</b>
                <a href='/hg/index?columnId=10' target='_blank'>最生活</a>  <b>|</b>
                <a href='/hg/index?columnId=26' target='_blank'>辣妈营</a>  <b>|</b>
                <a href='/hg/index?columnId=13' target='_blank'>特卖库</a>  <b>|</b>
                <a href='/hg/index?columnId=18' target='_blank'>健康行</a>  <b>|</b>
                <a href='/hg/index?columnId=22' target='_blank'>星座</a>  <b>|</b>
                
        </div>

        <div class="footer-bd">

            <p> <a href="http://www.qianliweb.com/">千里网络</a>  <a href="http://www.qianliweb.com/hg/">千里商城</a>  <em>© 2015 <a href="http://www.qianliweb.com/">千里技术</a> 版权所有 </em> </p>

            <p> <span>千里头条 购物头条  <span data-spm-protocol="i">备案号：<a href="http://www.miibeian.gov.cn/">(粤ICP备09160611号-1)</a></span> <b>|</b>

        </div>

        <div class="footer-ft"> <script src="http://s23.cnzz.com/stat.php?id=1609029&web_id=1609029" language="JavaScript"></script></div>

</div>

        @Scripts.Render("~/bundles/jquery")      
        @RenderSection("scripts", required: false)
</body>
</html>
