@{   
    Layout = "~/Views/Shared/_mallLayout.cshtml";
    ViewBag.Title = ViewBag.Title+"网购VIP头条-千里V商城";
                    //<img src='@Html.Raw(@NTbkItem["picList"][0].ToString())' /> 
    string curl = HttpContext.Current.Request.Path;
    
}

<div class="recommended">
    <!-- aside -->
    <div class="span3 left-aside">
        <div class="cover-img" style="background-image: url(/Content/tt/img/bg.jpg)"></div>
        <div class="bottom-block">

            <h1>VIP头条</h1>
            <h3>网购头条，沟通想法</h3>
            <p class="fa fa-lightbulb-o">一个基于网购内容分享的网站</p>
            
        </div>
        <div class="img-info">
            <i class="fa fa-info"></i>
            <div class="info">
                <a href="javascript:$('.cover-img,.bottom-block').fadeToggle()">隐藏/显示</a>
            </div>
        </div>
    </div>
    <div class="span7 offset3">
        <div class="page-title">
            <ul class="unstyled clearfix sort-nav" id="collection-categories-nav" data-js-module="collection-category" data-fetch-url="">
                <li>
                    <a href="/v/i"> 最新头条 </a>
                </li>
                <li>
                    <a class="category" href='@Html.Raw(@curl)?columnid=25'> 穿衣搭配 </a>
                </li>
                <li>
                    <a class="category" href='@Html.Raw(@curl)?columnid=28'> 数码极客 </a>
                </li>
                <li>
                    <a class="category" href='@Html.Raw(@curl)?columnid=29'> 美容护肤 </a>
                </li>
                <li>
                    <a class="category" href='@Html.Raw(@curl)?columnid=24'> 家居生活 </a>
                </li>
                <li>
                    <a class="category" href='@Html.Raw(@curl)?columnid=26'> 辣妈俏娃 </a>
                </li>
                <li><a class="category" href='@Html.Raw(@curl)?columnid=27'> 我是吃货 </a></li>

                <li><a href='@Html.Raw(@curl)?columnid=10' class="category">最生活</a></li>

                <li><a href='@Html.Raw(@curl)?columnid=13' class="category">特卖库</a></li>

                <li><a href='@Html.Raw(@curl)?columnid=18' class="category">健康行</a></li>

                <li><a href='@Html.Raw(@curl)?columnid=22' class="category">星座</a></li>

                <li class="search">
                    <form class="search-form" action="/v/p" accept-charset="UTF-8" method="get">
                        <input name="columnid" type="hidden" value="@ViewData["columnId"]" />
                        <input type="search" name="q" id="q" placeholder="搜索" class="input-medium search-query" value="@ViewData["q"]" />
                        <span class="search_trigger" onclick="$('form.search-form').submit();"><i class="fa fa-search"></i></span>
                    </form>
                </li>
                <li><img class="hide loader-tiny" src="/Content/tt/images/tiny.gif" alt="Tiny" /></li>
            </ul>

          
        </div>
        <div id="list-container">

            
            <ul class="article-list thumbnails">
@foreach (var NTbkItem in ViewData.Model )
{
    if (NTbkItem.detailUrl == null) { NTbkItem.detailUrl = ""; }
    if (NTbkItem.detailUrl.IndexOf("headline.taobao") > 0 || NTbkItem.detailUrl.IndexOf("uz.taobao") > 0)
    {
        if (NTbkItem.publishId == null) { NTbkItem.publishId = ""; }
        if (NTbkItem.columnId == null) { NTbkItem.columnId = ""; }
        string url = NTbkItem.detailUrl.Replace("http://headline.taobao.com/feed/feedDetail.htm?id=", "/v/ip/").Replace("http://uz.taobao.com/detail/", "/v/ip/") + "?&publishId=" + NTbkItem.publishId.ToString() + "&columnid=" + NTbkItem.columnId.ToString();
       
                <li class="have-img">
                    <a class="wrap-img" href="@Html.Raw(@url)"><img src="@Html.Raw(@NTbkItem.picList)" alt="300" /></a>
                    <div>

                        <h4 class="title"><a  href="@Html.Raw(@url)">@NTbkItem.name</a></h4>
                        <p class="description">@NTbkItem.description</p>
                        <div class="list-footer">
                            <span> · 阅读 @NTbkItem.viewNum.ToString()</span>
                            <span> · 点赞 @NTbkItem.favourCount.ToString()</span>

                        </div>
                    </div>
                </li>
    
    }
}
              
            </ul>
            <div class="load-more" >                
                <a class="ladda-label" href="@Html.Raw(@curl)?columnid=@ViewData["columnId"]&p=@ViewData["page"]&q=@ViewData["q"]" >下一页</a> [共 @ViewData["total"] 条记录][ @ViewData["currentPage"] /  @ViewData["totalPage"] 页  ]
              
            </div>

            <div id="time-machine-modal"
                 class="modal hide fade share-weixin-modal time-machine-modal"
                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h5>扫描下方二维码，起航你的时光机！</h5>
                </div>
            </div>
        </div>
    </div>
</div>


